
.Button{
  background-color: : white;
  color:black;
}
.bg-black {
    background-color: black;
   min-height:100%;
   
}
.container-fluid{
   padding: 60px 50px;
   height:20%
}
#topLogo{

  width: 100%;
}
#flex {
  display: flex;
  align-items: center;
  justify-content: center;
  color:white;
 }
 #flexWhite {
   display: flex;
   align-items: center;
   justify-content: center;
   color:black;
}
 a.class1 {
   color:white;
 }
 a.class2 {
   color:black;
 }
 #socialMedia{
   display:left;
}
