.row{
  padding-bottom: 10px;
}
.Button{
  background-color: : white;
  color:black;
}
.bg-black {
background-color: black;
   min-height:100%;
}
background:{
  color: black;}
.container-fluid{
   padding: 60px 50px;
   height:20%
}
#topLogo{

  width: 100%;
}
#flex1  {
  display: flex;
  align-items: center;
  justify-content: center;
  color:white;
 }
 #flex3 {
   display: flex;
   align-items: center;
   justify-content: center;
   color:white;
  }
  #flex5 {
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
   }
 #flex2  {
   display: flex;
   align-items: center;
   justify-content: center;
   color:black;
}
#flex4 {
  display: flex;
  align-items: center;
  justify-content: center;
  color:black;
}
#flex6 {
  display: flex;
  align-items: center;
  justify-content: center;
  color:black;
}
 a.class1 {
   color:white;
 }
 a.class2 {
   color:black;
 }
i{
  align-content: flex-end;
}
h6{
  color:#9AF62F;
}
h3{
  color:#9AF62F;
}
