#WaitList .sfm_textbox
{
    padding:1px;
}
#WaitList .sfm_textarea
{
    padding:2px;
    resize:none;
}
#WaitList .error_strings
{
    font-family:Verdana;
    font-size:12px;
    color:#660000;
}
#WaitList img
{
    border:0;
}
#WaitList .loading_div
{
    background-color:transparent;
    background-image:url("images/loading.gif");
    background-position:center center;
    background-repeat:no-repeat;
}
#WaitList input[type='submit'],input[type='reset']
{
    font:inherit;
    color:inherit;
}
#WaitList .sfm_cr_box
{
    font-family:Verdana;
    font-size:10px;
    color:#888888;
}
#WaitList .sfm_cr_box a
{
    color:#888888;
}
#WaitList .form_outer_div
{
    border:none;
    background-color:#ffffff;
}
#WaitList .sfm_form_label
{
    background-color:transparent;
}
#WaitList .element_label
{
    background-color:transparent;
}
body#sfm_WaitList_body
{
    background-color:transparent;
    font-family:Arial;
    font-size:12px;
    color:#000000;
    margin:0px;
}
#WaitList .form_outer_div
{
    font-family:Arial;
    font-size:12px;
    color:#000000;
}
#WaitList .form_subheading
{
    background-color:transparent;
    margin:0;
    padding:0;
}
#WaitList .sfm_float_error_box
{
    font-family:Verdana;
    font-size:12px;
    color:#eeeeee;
    background:none repeat scroll 0 0 #333333;
    border:0;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    box-shadow:0 0 4px #333;
    border:none;
}
#WaitList .sfm_close_box
{
    font-family:Verdana;
    font-size:12px;
    color:#eeeeee;
}
#WaitList .progress_box_container
{
    border:1px solid #8e8e8e;
    background-color:#cccccc;
    font-family:Arial;
    font-size:10px;
    color:#ffffff;
    text-align:center;
    vertical-align:middle;
}
#WaitList .progress_box
{
    background-color:#333333;
    width:2px;
    float:left;
    margin:2px;
}
#WaitList .page_heading
{
    background-color:transparent;
    margin:0;
    padding:0;
}
#WaitList .page_number
{
    background-color:transparent;
}


#WaitList #t3bec1e9f4eaa40929fae
{
    width:5px;
    height:5px;
    display:none;
}
#WaitList #label_container
{
    position:absolute;
    left:46px;
    top:35px;
    width:60px;
    height:20px;
    z-index:1;
}
#WaitList #label
{
    position:absolute;
    top:3px;
    right:0px;
    text-align:right;
}
#WaitList #Name_container
{
    position:absolute;
    left:111px;
    top:35px;
    z-index:2;
}
#WaitList #Name
{
    float:left;
    width:114px;
    z-index:2;
}
#WaitList #label1_container
{
    position:absolute;
    left:44px;
    top:72px;
    width:60px;
    height:20px;
    z-index:3;
}
#WaitList #label1
{
    position:absolute;
    top:3px;
    right:0px;
    text-align:right;
}
#WaitList #Email_container
{
    position:absolute;
    left:111px;
    top:70px;
    z-index:4;
}
#WaitList #Email
{
    float:left;
    width:114px;
    z-index:4;
}
#WaitList #Submit_container
{
    position:absolute;
    left:157px;
    top:110px;
    width:68px;
    height:25px;
    z-index:5;
}
#WaitList #WaitList_Submit_img
{
    width:72px;
    height:29px;
    border:none;
}
